*{
  padding: 0;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.main{
  display: flex;
}
.filter{
  width: 20%;
}
.cards{
  width: 80%;
}
.card{
  width: 240px;
  text-align: center;
}
img{
  width: 100%;
}